@charset "utf-8";
/* by Jessica 2009-06-09 */
/* YUI Reset CSS */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* CSS For Skiyo.Cn */
body {
	background:url(../images/bg.gif) #F4F1EA repeat-x;
	color:#666;
	font-family:"微软雅黑", "宋体", Verdana, Geneva, sans-serif;
	font-size:12px;
	height:100%;
}
a, a:visited {
	outline:none;
	color:#666;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}
#main {
	width:950px;
	margin:0 auto;
}
#logo {
	float:left;
	width:221px;
	height:68px;
	background:url(../images/logo.gif) no-repeat;
	margin-left:10px;
}
#menu {
	clear:both;
	height:30px;
}
#menu ul li {
	float:left;
	margin-left:2px;
}
#menu #home {
	width:47px;
	height:27px;
	background:url(../images/home_off.gif) no-repeat;
}
#menu a.home {
	display:block;
	width:47px;
	height:27px;
	background:url(../images/home_off.gif) no-repeat;
}
#menu #about {
	width:70px;
	height:27px;
	background:url(../images/about_off.gif) no-repeat;
}
#menu a.about {
	display:block;
	width:70px;
	height:27px;
	background:url(../images/about_off.gif) no-repeat;
}
#menu #join {
	width:70px;
	height:27px;
	background:url(../images/join_off.gif) no-repeat;
}
#menu a.join {
	display:block;
	width:70px;
	height:27px;
	background:url(../images/join_off.gif) no-repeat;
}
#menu #message {
	width:70px;
	height:27px;
	background:url(../images/message_off.gif) no-repeat;
}
#menu a.message {
	display:block;
	width:70px;
	height:27px;
	background:url(../images/message_off.gif) no-repeat;
}
#menu #punny {
	width:70px;
	height:27px;
	background:url(../images/punny_off.gif) no-repeat;
}
#menu a.punny {
	display:block;
	width:70px;
	height:27px;
	background:url(../images/punny_off.gif) no-repeat;
}
#menu #delivery {
	width:70px;
	height:27px;
	background:url(../images/delivery_off.gif) no-repeat;
}
#menu a.delivery {
	display:block;
	width:70px;
	height:27px;
	background:url(../images/delivery_off.gif) no-repeat;
}
#content {
	clear:both;
	margin-top:10px;
}
#content #left {
	float:left;
	width:660px;
}
#content #right {
	float:right;
	width:290px;
}
#content .leftbox {
	width:660px;
}
#content .leftbox .left_box_top {
	background:url(../images/box/box_left_top.gif) no-repeat;
	height:32px;
	font-size:14px;
	font-weight:bold;
	padding-top:20px;
	padding-left:45px;
}
.time {
	font-size:10px;
	font-weight:normal;
}
#content .leftbox .left_box_center {
	background:url(../images/box/box_left_center.gif) repeat-y;
	padding: 5px 15px;
}
#content .leftbox .left_box_center p{
	padding:6px;
	text-indent:2em;
}
#content .leftbox .left_box_bottom {
	background:url(../images/box/box_left_bottom.gif) no-repeat;
	height:35px;
	text-align:right;
	padding-top:7px;
	padding-right:20px;
}
#center .rightbox {
	width:280px;
}
#content .rightbox .right_box_top {
	background:url(../images/box/box_right_top.gif) no-repeat;
	height:32px;
	font-size:14px;
	font-weight:bold;
	padding-top:20px;
	text-align:center;
}
#content .rightbox .right_box_center {
	background:url(../images/box/box_right_center.gif) repeat-y;
	padding: 5px 15px;
}
#content .rightbox .right_box_center ul li{
	margin:5px 0 5px 10px;
}
#content .rightbox .right_box_center a{
	background:url(../images/ico/bullet_white.png) no-repeat;
	padding-left:18px;
	position:relative;
}
#content .rightbox .right_box_bottom {
	background:url(../images/box/box_right_bottom.gif) no-repeat;
	height:35px;
}